/* =============================
    FEATURE-3 CSS
================================ */
.feature-style-3 {
    background: $white;
    padding: 100px 0;

    .single-feature {
        padding: 30px 35px;
        border-radius: $radius-10;
        margin-bottom: 40px;
        margin-top: 30px;
        @include box-shadow($box-shadow-2);

        .icon {
            width: 72px;
            height: 72px;
            border-radius: $radius-full;
            background: $primary-color;
            color: $white;
            font-size: 35px;
            @include flex-center;
            margin-bottom: 20px;
            margin-top: -60px;
        }

        .content {
            h5 {
                font-weight: $font-weight-600;
                margin-bottom: 25px;
            }
        }
    }
}
