/* =============================
    GALLERY-3 CSS
================================ */
.gallery-style-3 {
    padding: 100px 0 70px;
    background: $gray;

    .single-gallery {
        border-radius: $radius-10;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;

        &:hover {
            .info {
                opacity: 1;
                visibility: visible;
            }

            .info {
                .title {
                    transform: translateX(0px);
                }

                .action {
                    transform: translateX(0px);
                }
            }
        }

        .image {
            border-radius: $radius-10;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background: $primary-color;
            border-radius: 0 0 $radius-10 $radius-10;
            padding: 20px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include transition(0.3s);
            overflow: hidden;
            opacity: 0;

            .title {
                transform: translateX(-30px);
                @include transition(0.3s);

                h5 {
                    font-weight: 600;

                    a {
                        color: $white;
                    }
                }
            }

            .action {
                transform: translateX(30px);
                @include transition(0.3s);

                a {
                    width: 42px;
                    height: 42px;
                    background: $white;
                    border-radius: $radius-full;
                    color: $heading-color;
                    @include flex-center;
                    font-weight: 700;
                }
            }
        }
    }
}
