/* =============================
    PRICING-6 CSS
================================ */

.pricing-style-6 {
    padding: 100px 0 60px;
    background: $gray;

    .single-pricing {
        background: transparent;
        border-radius: 40px;
        @include box-shadow(0px 5px 25px rgba(218, 211, 211, 0.3));
        margin-bottom: 40px;
        padding: 45px 40px;
        border: 2px dashed #C5C5CF;
        @include transition(0.3s);
        position: relative;

        @media #{$lg} {
            padding: 45px 25px;
        }

        .popular-badge {
            position: absolute;
            top: 45px;
            right: 35px;

            @media #{$lg} {
                right: 20px;
            }
        }

        &.active,
        &:hover {
            border-color: $primary-color;
        }

        .image {
            width: 120px;
            height: 120px;
            border-radius: $radius-full;
            margin-bottom: 30px;
            @include flex-center;
            position: relative;
            z-index: 1;

            svg {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            img {
                max-width: 100%;
            }
        }

        h6 {
            color: $heading-color;
            margin-bottom: 15px;

            @media #{$lg} {
                font-size: 16px;
            }
        }

        h4 {
            margin-bottom: 20px;
            font-weight: 500;

            @media #{$lg} {
                font-size: 24px;
            }
        }

        h3 {
            margin-bottom: 18px;
            color: $primary-color;
        }

        ul {
            margin-bottom: 30px;

            li {
                display: flex;
                align-items: center;
                font-size: 16px;
                line-height: 34px;
                margin-bottom: 12px;

                i {
                    color: $primary-color;
                    margin-right: 10px;
                }
            }
        }
    }
}
