/* =============================
    SIGNUP-3 CSS
================================ */
.signup-style-3 {
    .signup-wrapper {
      padding: 70px 60px 20px;
      background: $gray;
      border-radius: $radius-30;
      overflow: hidden;
      position: relative;
      z-index: 1;

      @media #{$xs} {
        padding: 50px 20px 0;
      }

      .shape {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
      }

      .signup-content-wrapper {
        margin-bottom: 50px;

        .action-button {
          p {
            font-weight: $font-weight-500;
            margin-bottom: 25px;
          }

          a {
            font-weight: $font-weight-600;
            margin-bottom: 20px;

            i {
              padding-left: 0;
              padding-right: 20px;
            }
          }
        }
      }

      .signup-form-wrapper {
        margin-bottom: 50px;

        .single-input {
          margin-bottom: 25px;

          label {
            display: block;
            font-weight: $font-weight-500;
            color: $heading-color;
            margin-bottom: 12px;
          }

          input {
            width: 100%;
            border: 1px solid rgba($body-color, 0.5);
            height: 64px;
            line-height: 1;
            padding: 0 30px;
            border-radius: $radius-10;
            background: transparent;
            color: $body-color;

            &::placeholder {
              opacity: .5;
            }

            &:focus {
              border-color: $primary-color;
            }
          }

          p {
            a {
              color: $primary-color;
              font-weight: $font-weight-500;
            }
          }
        }
      }
    }
  }
